{% extends "index.html" %}
{% block content %}
<style>
.button_off {
    background-color: #910088;
    border: none;
    color: #0DCE15;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px #8200a5;
    display: inline-block;
    font-size: 1.2em;
    font-family: "Segoe UI";
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
}
.button_off:hover {
    background-color: #0DCE15;
    color: #0DCE15;
}
.button_on {
    background-color: #0DCE15;
    border: none;
    color: #910088;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px #0DCE15;
    display: inline-block;
    font-size: 1.2em;
    font-family: "Segoe UI";
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
}
.button_on:hover {
    background-color: #910088;
    color: #910088;
}

.button_actualiza {
    background-color: #910088;
    border: none;
    color: #0DCE15;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px #8200a5;
    display: inline-block;
    font-size: 1.2em;
    font-family: "Segoe UI";
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
}

div.info {
  display: flex;
  padding: 5px;
  line-height : auto;
  align-items: center;
  align-content: center;
  border-radius: 3px;
  margin-bottom: 3px;
  border: 1px solid #2d0030;
}

p.green_title {
  text-shadow: 1px 1px 1px #CBFBBC;
  color: #15BB00;
  text-align: left;
  font-size: 1em;
  padding: 5px 5px;
}
</style>
<p></p>

<p class='green_title'>Datos de ambiente a las: {{ hora_actual }} hrs</p>

<div style="border: 1px solid #2d0030; float:left;border-radius: 3px;">
<p class='subtitle'>Temperatura:</p><p class='title'>{{ temp_actual }} °C</p>
<p class='subtitle'>Humedad:</p><p class='title'>{{ hum_actual }} %</p>
</div>

<div class='info'>
{% if estado_vent=="on" %}
<p class="subtitle">Estado del ventilador:</p>
<a class='button_on' href='/vent_off'>ON</a>

{% elif estado_vent=="off" %}
<p class="subtitle">Estado del ventilador:</p>
<a class='button_off' href='/vent_on'>OFF</a>

{% else %}
<p class="subtitle">Estado del ventilador:</p>
<button class='button_off'>error</button>

{% endif %}
</div>

<div class='info'>
{% if estado_ext=="on" %}
<p class="subtitle">Estado del Extractor:</p>
<a class='button_on' href='/ext_off'>ON</a>

{% elif estado_ext=="off" %}
<p class="subtitle">Estado del Extractor:</p>
<a class='button_off' href='/ext_on'>OFF</a>

{% else %}
<p class="subtitle">Estado del Extractor:</p>
<button class='button_off'>error</button>
{% endif %}
</div>

<div class='info'>
{% if estado_luces=="on" %}
<p class="subtitle">Estado de las luces:</p>
<a class='button_on' href='/luces_off'>ON</a>

{% elif estado_luces=="off" %}
<p class="subtitle">Estado de las luces:</p>
<a class='button_off' href='/luces_on'>OFF</a>

{% else %}
<p class="subtitle">Estado de las luces:</p>
<button class='button_off'>error</button>

{% endif %}
</div>
<p></p>


<div style='float:left;'>
<p class='subtitle'>Horas de luz en fotoperiodo:</p>
<p class='green_title'>{{ luz_hora_encendido }} - {{ luz_hora_apagado }} hrs</p>
<p class='subtitle'>Temp/Hum max ventilador:</p>
<p class='green_title'>{{ vent_temp_max }} °C / {{ vent_hum_max }} %</p>
<p class='subtitle'>Temp/Hum max extractor:</p>
<p class='green_title'>{{ ext_temp_max }} °C / {{ ext_hum_max }} %</p>
</div>
{% endblock %}
