[Unit]
Description=servicio control de fotoperiodo
After=network.target network-online.target
Wants=network-online.target

[Service]
User=pi
ExecStart=/home/pi/freshgrowpi/scripts/fotoperiodo.py

[Install]
WantedBy=multi-user.target
